@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root { height: 100%; }
body {
  margin: 0;
  background: theme(colors.surface.0);
  color: theme(colors.text.0);
  font-family: theme(fontFamily.sans);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

input[type="range"] {
  @apply accent-ifg-green;
}
